<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

            <div class="main">
                <h4>Welcome To Yes Bank <br><br><h5>Register Here</h5></h4><br>

               

                <input id="uname" type="password" class="text" [(ngModel)]="uname" placeholder="UserName"><br> <br>

                <input id="accnotext" type="text" class="text" [(ngModel)]="acno" placeholder="Account number"><br><br>

                <input id="pwdtext" type="password" class="text" [(ngModel)]="pswd" placeholder="Password"><br> <br>


                <input type="button" value="Register" class="button butefct" (click)="register()"> <br>

                <a class="textfp" routerLink="">Login</a>

                
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>